.add-board-button {
  width: 74px;
  height: 74px;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid black;
  border-radius: 100px;
  color: #000;
  font-size: 40px;
  font-weight: 400;
  transition: .1s linear;
  cursor: pointer;
}

.add-board-button:hover {
  background-color: black;
  color: white;
}

.add-board-button:active {
  background-color: black;
  color: white;
  opacity: .8;
}