@import url(./vendor/fonts/Comfortaa/stylesheet.css);

body {
  margin: 0;
  font-family: Comfortaa, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* start and auth */
@import url(./pages/start/components/start-page/start-page.css);
@import url(./pages/auth/components/sign-in/sign-in.css);
@import url(./pages/auth/components/sign-up/sign-up.css);
@import url(./pages/auth/components/auth-form/auth-form.css);
@import url(./pages/auth/components/image-input/image-input.css);

/* header and footer */
@import url(./components/header/header.css);
@import url(./components/footer/footer.css);

/* language selector */
@import url(./components/language-selector/language-selector.css);

/* boards */
@import url(./pages/boards/components/boards/boards.css);
@import url(./pages/boards/components/board-list/board-list.css);
@import url(./pages/boards/components/board-item/board-item.css);
@import url(./pages/boards/components/add-board-button/add-board-button.css);
@import url(./pages/boards/components/board-avatar-container/board-avatar-container.css);